.hola {
    background-image: url(https://i.postimg.cc/nL3r0NJ8/fondo3.jpg);
  background-size: 300px;
  color: red;
}

.formulario-img {
    border-radius: 30px;
}

.formulario-agregar {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    margin: 20px;
}
.formulario-cont  {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

}
.formulario-titulo {
    text-shadow: 0 0 5px red, 0 0 10px red;
    display: flex;
   flex-direction: row;
   justify-content: center; 
}

.formulario-button{
   margin: auto;
    border-radius: 30px;
   height: 60px;
   width: 100px;
   padding: 20px;
   background-color: red;

}

.products-list {
    color: black;
    display: flex;
    justify-content: center;
    margin: 50px;
    background-color: red;
    opacity: .5;
    border-radius: 15px;
}

.chat {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.chat-cont {
    margin-left: 230px;
    text-align: center;
    padding: 20px;
}

.chat-form {
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
